<div class=" border border-4 border-secondary "style= "background-color:rgba(125, 101, 140, 0.93)" > 
    <div class="border border-top-0 border-warning border-3 mt-2 rounded" style= "background-color:rgba(205, 229, 233, 0.587)" >
         <span class="h1 p-3 " > ToDoList </span> 
         <button class="btn btn-success m-2">Login</button>
          <button class="btn btn-primary ">Sign Up</button> 
        </div> 
        <ul class="nav nav-pills m-3 border border-3 border-info rounded" style="background-color: rgba(177, 220, 191, 0.505)" >
             <li class="nav-item m-3 bg-light border border-3 border-success rounded-top btn-light "> 
                <button class="btn border rounded-top" style="background-color: rgba(99, 124, 66, 0.505)">
                     <a class="nav-link " routerLink="tasks" >Tasks</a> 
                </button>
             </li>
             <li class="nav-item m-3 bg-light border border-3 border-success rounded-top btn-light "> 
            <button class=" btn border rounded-top" style="background-color: rgba(43, 10, 113, 0.505)"> 
            <a class="nav-link " routerLink="add-task" >Add Tasks</a> 
        </button>
     </li> 
    </ul> 
        <div class="border border-3 border-info rounded" style="background-color: rgba(14, 136, 192, 0.505)" > 
            <router-outlet ></router-outlet> 
        </div>
     </div> <!-- background-color: rgba(19, 160, 144, 0.8); --> <!-- background-color: rgba(14, 136, 192, 0.505) --> 
        <div class="container position-fixed bottom-0 start-25 " > 
            <footer> &#64;copyright <span class="h1 p-3 " > ToDoList </span> 
                since August 2024 ------- 
                <a href="" > Privacy Policy and terms and agreements for using this site.</a>------
            </footer> 
        <div>
</div>
<!--  background-color: rgba(19, 160, 144, 0.8); -->
<!-- background-color: rgba(14, 136, 192, 0.505) -->
 

  